DB_NAME=NullPointVector
DB_USER=EPNP
DB_PASSWORD=sniffdaish
DB_HOST=localhost
DB_PORT=5432
YAHOO_USER=epinaman@yahoo.com
YAHOO_PASS=ngpgkqhafaxuyjmu
Gmail_USER=gt2oaep3@gmail.com
Gmail_PASS=psgn gkjd opnw rulr
OUTLOOK_EMAIL=your_outlook_email@outlook.com
OUTLOOK_PASSWORD=your_outlook_password
#SECRET_KEY=your_secret_key
#ENCRYPTION_KEY=your_encryption_key
SECRET_KEY = secrets.token_hex(32)  # 64 character hex string
ENCRYPTION_KEY = secrets.token_hex(32)  # 64 character hex st
IPHONE_NUMBER=6146958215
IPHONE_BACKUP_PATH=~/Library/Application Support/MobileSync/Backup/
PHISHTANK_API_KEY=your_phishtank_api_key
ABUSEIPDB_API_KEY=your_abuseipdb_api_key