DB_NAME=NullPointVector
DB_USER=EPNP
DB_PASSWORD=sniffdaish
DB_HOST=localhost
DB_PORT=5432
YAHOO_USER=epinaman@yahoo.com
YAHOO_PASS=ngpgkqhafaxuyjmu
GMAIL_USER=gt2oaep3@gmail.com
GMAIL_PASS=psgngkjdopnwrulr
OUTLOOK_USER=gt2oaep@outlook.com
OUTLOOK_PASSWORD=your_outlook_password
#SECRET_KEY=your_secret_key
#ENCRYPTION_KEY=your_encryption_key
SECRET_KEY=secrets.token_hex(32)  # 64 character hex string
ENCRYPTION_KEY=mA1V-mNw8U4edYnD4H3ujW-bK-C6lljXF2C-LAT7iVA=
IPHONE_NUMBER=6146958215cd 
IPHONE_BACKUP_PATH=/Users/ep/Library/Application Support/MobileSync/Backup
PHISHTANK_API_KEY=your_phishtank_api_key
ABUSEIPDB_API_KEY=your_abuseipdb_api_key